body {
    background: #121212;
    color: #bbb;
}

a {
    color: #3ea6ff;
}



.folderIcon::before {
    content: "📂";
}
.folderIcon.close::before {
    content: "📁";
}

.content-list.close {
    display: none;
}
